[submodule "ggrim-back-main"]
	path = ggrim-back-main
	url = https://github.com/SeongTeam/ggrim-back-main
	branch = main
[submodule "ggrim-tool"]
	path = ggrim-tool
	url = https://github.com/SeongTeam/ggrim-tool.git
	branch = main